---
import { Image } from "astro:assets";

import { type ProjectType } from "@/lib/types";

type Props = {
  data: ProjectType;
};

const { data } = Astro.props;
---

<a
  href={data.href}
  class="grid btn text-base text-start leading-normal h-fit w-fit gap-8 p-5 md:p-7 bg-base-100 rounded-3xl"
>
  <picture>
    <Image
      class="aspect-video w-full rounded-2xl"
      src={data.image}
      alt={data.title}
    />
  </picture>
  <div class="grid gap-4">
    <div class="flex flex-wrap gap-2">
      {
        data.tags &&
          data.tags.length > 0 &&
          data.tags.map((tag) => (
            <div class="badge badge-neutral">
              <p>{tag}</p>
            </div>
          ))
      }
    </div>
    <div class="grid gap-3">
      <h6 class="text-3xl">{data.title}</h6>
      <div class="grid gap-1.5">
        <p class="text-xl">{data.subtitle}</p>
        <p class="text-base-content/70">{data.date}</p>
      </div>
    </div>
    <p class="font-normal text-base-content/70">
      {data.description}
    </p>
  </div>
</a>
