---
import { Icon } from "astro-icon/components";
import Logo from "@/components/atoms/Logo.astro";
import NavigationLink from "@/components/atoms/NavigationLink.astro";

import { navigationLinks } from "@/lib/consts";
---

<header
  class="bg-neutral/90 border border-neutral shadow-md backdrop-blur-lg text-neutral-content bottom-4 rounded-full z-20 justify-center flex left-1/2 -translate-x-1/2 fixed w-fit px-4 py-2 max-w-2xl"
>
  <nav class="flex justify-between gap-4 items-center w-full">
    <div class="flex gap-2">
      {
        navigationLinks.slice(0, 2).map((link) => (
          <div class="tooltip tooltip-accent" data-tip={link.label}>
            <NavigationLink href={link.href} class="w-12 h-12">
              <Icon name={link.icon} class="" />
            </NavigationLink>
          </div>
        ))
      }
    </div>
    <Logo class="w-8 h-8" />
    <div class="flex gap-2">
      {
        navigationLinks.slice(2).map((link) => (
          <div class="tooltip tooltip-accent" data-tip={link.label}>
            <NavigationLink href={link.href} class="w-12 h-12">
              <Icon name={link.icon} />
            </NavigationLink>
          </div>
        ))
      }
    </div>
  </nav>
</header>
